$white-color: #ffffff;
$white-bg: #f2f2f2;
$blue-border: #2ea8e6;
$gray-color: #666666;
$light-gray-color: #B3B3B3;
$black-color: #000000;
$blue-color: #1698d9;
$pink-color: #d91667;
$pink-message-color: #E62E7A;
$pink-border: #E52E7A;
$yellow-color: #ffff66;
